* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightblue;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #FFF;
    width: 500px;
    max-width: 100%;
    height: 500px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 4px 4px 4px rgb(36, 34, 34);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
    text-align: center;
}

input {
    border-radius: 2px;
    border: 1px solid rgb(46, 46, 211)
}

#botao-submit {
    background-color: rgb(18, 18, 202);
    padding: 2px;
    border-radius: 2px;
}

#botao-limpar {
    border: none;
    padding: 5px;
    color: rgb(233, 56, 56);
}